.completedTask {
  text-decoration: line-through;
}

.card {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border: 1px solid black;
  background-color:  #feffae;
}

.filter {
  margin: 0.8rem;

  p {
    display: inline;
    padding: 0;
    margin: 0 0.3rem 0 0;
  }
}

dt {
  display: flex;
  input {
    background-color: red;
  }
}

p {
  padding: 0;
  margin: 0;
}