.wrapper {
  display: grid;
  grid-template-columns: 35% 15% 15% 15% 20%;
  font-size: 0.8rem;

  span {
    display: flex;
    align-items: center;
  }
}

button.titleButton {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  border: none;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  &:hover {
    color: var(--highlight-red);
  }
}

.title {
  padding-left: 0.3rem;
  font-weight: bold;
}
.controls {
  justify-content: flex-end;
}