.wrapper {
  display: grid;
  grid-template-columns: 40% 15% 15% 30%;
  font-size: 0.8rem;
}

button.titleButton {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  border: none;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  &:hover {
    color: var(--highlight-red);
  }
}

.title {
  display: flex;
  align-items: center;
  padding-left: 0.3rem;
  font-weight: bold;
}

.user {
  display: flex;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}