.badge {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
}

.TASK {
  background-color: var(--highlight-yellow)
}

.THOUGHT {
  background-color: var(--highlight-green)
}

.QUESTION {
  background-color: var(--highlight-blue)
}