.button {
  background-color: var(--background);
  border: 2px solid black;
  padding: 0.3rem;
  margin: 0.2rem;
  text-transform: lowercase;

  &:hover {
    background-color: var(--highlight-purple);
  }
}

.standOut {
  font-weight: bold;
  background-color: var(--highlight-purple);
}