.container {
  height: 100%;
  display: flex;
}

.login{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
  background-color: var(--background);
}

.logo {
  font-weight: bolder;
  padding: 1rem;
  background-color: var(--highlight-green);
}