.container {
  height: 100%;
  display: flex;
}

.login{
  margin: auto;
  padding: 0;
  background-color: var(--background);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 3rem;
  font-family: 'Prompt', sans-serif;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--highlight-green);
}